/* Colors */
/* Fonts and Font-sizes */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

html, body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
}

h1, h2, h3, h4, p {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

h1, h2, h4 {
  color: hsl(234, 12%, 34%);
}

h3, p {
  color: hsl(229, 6%, 66%);
}

.wrapper {
  margin: 15vw 8vw;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.feature .feature__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature .feature__description h1 {
  font-weight: 200;
}
.feature .feature__description h2 {
  padding-bottom: 1.25rem;
  font-weight: 600;
}
.feature .feature__description h3 {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  max-width: 31.25rem;
}
.feature .feature__cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.feature .feature__cards .feature__cards__1 {
  border-top: 4px solid hsl(180, 62%, 55%);
}
.feature .feature__cards .feature__cards__group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 33%;
  gap: 1.5rem;
}
.feature .feature__cards .feature__cards__group .feature__cards__2 {
  border-top: 4px solid hsl(0, 78%, 62%);
}
.feature .feature__cards .feature__cards__group .feature__cards__3 {
  border-top: 4px solid hsl(34, 97%, 64%);
}
.feature .feature__cards .feature__cards__4 {
  border-top: 4px solid hsl(212, 86%, 64%);
}
.feature .feature__cards .feature__cards__1, .feature .feature__cards .feature__cards__2, .feature .feature__cards .feature__cards__3, .feature .feature__cards .feature__cards__4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  padding-left: 28px;
  padding-right: 28px;
  box-shadow: 0px 8px 10px 0px hsl(0, 0%, 92%);
  border-radius: 0.325rem;
}
.feature .feature__cards .feature__cards__1 h4, .feature .feature__cards .feature__cards__2 h4, .feature .feature__cards .feature__cards__3 h4, .feature .feature__cards .feature__cards__4 h4 {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}
.feature .feature__cards .feature__cards__1 p, .feature .feature__cards .feature__cards__2 p, .feature .feature__cards .feature__cards__3 p, .feature .feature__cards .feature__cards__4 p {
  font-size: 0.825rem;
  padding-bottom: 2rem;
  line-height: 1.75;
}
.feature .feature__cards .feature__cards__1 img, .feature .feature__cards .feature__cards__2 img, .feature .feature__cards .feature__cards__3 img, .feature .feature__cards .feature__cards__4 img {
  align-self: flex-end;
  width: 56px;
  height: auto;
}

@media (min-width: 1024px) {
  .feature .feature__cards {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
  }
  .feature__cards__1, .feature__cards__2, .feature__cards__3, .feature__cards__4 {
    flex: 1 1 33%;
  }
  h1, h2 {
    font-size: 2rem;
  }
}
@media (min-width: 1335px) {
  p {
    min-height: 78px;
  }
}/*# sourceMappingURL=index.css.map */